In [2]:
import pandas as pd 
import numpy as np 
from sklearn.preprocessing import MinMaxScaler, StandardScaler

df_mtcars = pd.read_csv('../mtcars.csv')
df_mtcars.head()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

> 문제 11) cyl가 4인 자동차와 6인 자동차 그룹의 mpg 평균값 차이를 절대값으로 변환하여 정수로 출력하시오.

In [3]:
cyl_6 = df_mtcars[df_mtcars['cyl'] ==6]['mpg'].mean() 
cyl_4 = df_mtcars[df_mtcars['cyl'] ==4]['mpg'].mean() 
round(abs(cyl_6-cyl_4))

7

> 문제 12)  hp 변수에 대해 데이터 표준화 (Z-score)를 진행하고 이상치의 수를 구하시오.   
(단, 이상치는 Z값이 1.5를 초과하거나 -1.5 미만인 값이다)

In [ ]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
scaler_m = StandardScaler()
df_mtcars[['hp']] = scaler_m.fit_transform(df_mtcars[['hp']])

len(df_mtcars[(df_mtcars['hp'] >1.5)&(df_mtcars['hp']<1.5)])

0

> 문제 13) mpg 컬럼을 최소최대 Scaling을 진행한 후 0.7보다 큰 값을 가지는 레코드 수를 구하라.

In [9]:
scaler_s = MinMaxScaler()
df_mtcars[['mpg']] = scaler_s.fit_transform(df_mtcars[['mpg']])
len(df_mtcars[df_mtcars['mpg']>0.7])

5

> 문제 14) wt 컬럼에 대해 상자그림 기준으로 이상치의 개수를 구하시오.

> 문제 15)   
판매수 컬럼의 결측치를 최소값으로 대체하고   
결측치가 있을 때와 최소값으로 대체했을 때 평균값의 차이를 절대값으로 출력하시오

> 문제 16) vs 변수가 0이 아닌 차량 중에 mpg 값이 가장 큰 차량의 hp 값을 출력하시오

> 문제 17) gear 변수 값이 3, 4인 두 그룹의 hp 표준편차 값의 차이를 절대값으로 소수점 첫째자리까지 출력하시오.

> 문제 18)   
gear 변수의 값별로 그룹화하여 mpg 평균값을 산출하고   
평균값이 높은 그룹의 mpg 제3사분위수 값을 구하시오.

> 문제 19)   
hp 항목의 상위 7번째 값으로 상위 7개 값을 반환한 후   
hp가 150 이상인 데이터를 추출하여 hp의 평균값을 반올림하여 정수로 출력하시오.

> 문제 20) car 변수에 Merc 문구가 포함된 자동차의 mpg 평균값을 정수로 출력하시오.