In [3]:
# 데이터 불러오기
import pandas as pd 
import numpy as numpy
from sklearn.preprocessing import MinMaxScaler, StandardScaler

df_mtcars=pd.read_csv('../mtcars.csv')

> 문제1) mpg 변수의 제 1사분위수를 구하고 정수값으로 출력하시오

In [4]:
round(df_mtcars['mpg'].quantile(0.25))

15

> 문제2) mpg 값이 19 이상 21이하인데 데이터의 수를 구하시오

In [5]:
len(df_mtcars[(df_mtcars['mpg']>=19)&(df_mtcars['mpg']<=21)])

5

> 문제3) hp변수의 IQR 값을 구하시오

In [7]:
q1_hp = df_mtcars['hp'].quantile(0.25)
q3_hp = df_mtcars['hp'].quantile(0.75)

iqr_hp = abs(q1_hp-q3_hp)
iqr_hp

83.5

> 문제4) wt 변수의 상위 10개 값의 총합을 구하여 소수점을 버리고 정수로 출력하시오

In [10]:
round(df_mtcars.sort_values(by='wt',ascending=False).wt.head(10).sum())

42

> 문제5) 전체 자동차에서 cyl가 6인 비율이 얼마인지 소수점 첫째 자리까지 출력하시오

In [14]:
round(len(df_mtcars[df_mtcars['cyl']==6])/len(df_mtcars),1)

0.2

> 문제6) 첫번 째 행부터 순서대로 10개 뽑은 후 mpg 열의 평균값을 반올림하여 정수로 출력하시오

In [16]:
round(df_mtcars.mpg.head(10).mean())

20

> 문제7) 첫번째 행부터 순서대로 50% 까지 데이터를 뽑아 wt 변수의 중앙값을 구하시오

In [ ]:
df_mtcars.wt.head(len(df_mtcars)//2).median()

3.44

> 문제8) 결측값이 있는 데이터의 수를 출력하시오

In [22]:
# 답 
new_df = pd.DataFrame({
  "날짜": ['20220103', '20220105', None, '20230127', '20220203', '20220205', '20230223', '20230325', '20230427', '20230526', '20230603', '20230723'],
  '제품': ['A', 'B', None, 'B', 'A', None, 'A', 'B', 'A', 'B', 'A', 'A'],
  '판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40],
  '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]
})

# print(sum(new_df.isnull().sum()))
new_df.isnull().sum()

날짜      1
제품      2
판매수     2
개당수익    0
dtype: int64

> 문제9) '판매수' 컬럼의 결측값을 판매수의 중앙값으로 대체하고 판매수의 평균값을 정수로 출력하시오

In [36]:
new_df2 = new_df.copy()
new_df2['판매수'] = new_df2['판매수'].fillna(new_df2['판매수'].median(),)
round(new_df2['판매수'].mean())

15

> 문제10) - 문제 10.
판매수 컬럼에 결측치가 있는 행을 제거하고,   
첫번째 행부터 순서대로 50%까지 데이터를 추출하여   
판매수 변수의 Q1(제1사분위수) 값을 정수로 출력하시오.

In [ ]:
new_df3 = new_df.copy()
new_df3['판매수'].dropna(inplace=True)
round(new_df3.head(len(new_df3)//2)['판매수'].quantile(0.25))

5