> 문제 3) 팁 예측하기

In [197]:
import pandas as pd 
import numpy as np 
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score,f1_score,roc_auc_score,r2_score,mean_squared_error

In [198]:
import seaborn as sns
df = sns.load_dataset('tips')

x= df.drop(columns='tip')
y = df['tip']

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size =0.2, random_state=2024)
x_train= pd.DataFrame(x_train.reset_index())
x_test= pd.DataFrame(x_test.reset_index())
y_train = pd.DataFrame(y_train.reset_index())

x_train.rename(columns={'index':'cust_id'},inplace=True)
x_test.rename(columns={'index':'cust_id'},inplace=True)
y_train.columns=['cust_id','tip']

cust_id = x_test['cust_id'].copy()

In [199]:
print(x_train.info())
print(x_test.info())
print(y_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   cust_id     195 non-null    int64
 1   total_bill  195 non-null    float64
 2   sex         195 non-null    category
 3   smoker      195 non-null    category
 4   day         195 non-null    category
 5   time        195 non-null    category
 6   size        195 non-null    int64
dtypes: category(4), float64(1), int64(2)
memory usage: 6.0 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   cust_id     49 non-null     int64
 1   total_bill  49 non-null     float64
 2   sex         49 non-null     category
 3   smoker      49 non-null     category
 4   day         49 non-null     category
 5   time        49 non-null     category
 6   size        49 non-null     int64
dtypes: category(4), float64(1), int64(2)
memory usage: 2.0 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cust_id  195 non-null    int64
 1   tip      195 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 3.2 KB
None

In [200]:
print(x_train.isnull().sum())
print(x_test.isnull().sum())

cust_id       0
total_bill    0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64
cust_id       0
total_bill    0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [201]:
x_train.head()

   cust_id  total_bill     sex smoker   day    time  size
0      209       12.76  Female    Yes   Sat  Dinner     2
1       88       24.71    Male     No  Thur   Lunch     2
2        2       21.01    Male     No   Sun  Dinner     3
3      142       41.19    Male     No  Thur   Lunch     5
4      125       29.80  Female     No  Thur   Lunch     6

In [202]:
x_test.head()

   cust_id  total_bill     sex smoker   day    time  size
0      239       29.03    Male     No   Sat  Dinner     3
1      238       35.83  Female     No   Sat  Dinner     3
2      170       50.81    Male    Yes   Sat  Dinner     3
3      156       48.17    Male     No   Sun  Dinner     6
4      134       18.26  Female     No  Thur   Lunch     2

In [203]:
y_train.head()

   cust_id   tip
0      209  2.23
1       88  5.85
2        2  3.50
3      142  5.00
4      125  4.20

In [204]:
## cust_id 는 사용 X
# cust_id = x_train['cust_id']
x_train.drop(columns='cust_id',inplace=True)

# x_test cust_id는 위에서 추출 해놨기 때문에 drop만 진행
# 사실상 x_test의 cust_id만 필요 나중에 조합 해야하므로 
x_test.drop(columns='cust_id',inplace=True)
x_train.head()

   total_bill     sex smoker   day    time  size
0       12.76  Female    Yes   Sat  Dinner     2
1       24.71    Male     No  Thur   Lunch     2
2       21.01    Male     No   Sun  Dinner     3
3       41.19    Male     No  Thur   Lunch     5
4       29.80  Female     No  Thur   Lunch     6

In [205]:
# 원핫 인코딩이 필요하다 
x_train = pd.get_dummies(x_train)
x_test = pd.get_dummies(x_test)

In [206]:
# 데이터 나누기 
x_train, x_val, y_train, y_val = train_test_split(x_train,y_train['tip'],test_size=0.2,random_state=2024)

In [207]:
# 모델 생성 및 학습 
model = RandomForestRegressor()
model.fit(x_train,y_train)
y_pred = model.predict(x_val)

mse = mean_squared_error(y_val,y_pred)
r2 = r2_score(y_val,y_pred)
print(mse)
print(r2)

1.1544807628205125
0.5037076709517856

In [208]:
y_result = model.predict(x_test)
print(y_result.shape)

(49,)

In [209]:
# 결과값 가공 
final_result = pd.DataFrame({'cust_id':cust_id,'result':y_result})
# final_result.to_csv('result.csv',index=False )
final_result.head()

   cust_id  result
0      239  2.8899
1      238  3.7888
2      170  6.3518
3      156  7.7850
4      134  3.5266