In [4]:
import pandas as pd 
import numpy as np 
from sklearn.preprocessing import StandardScaler,MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.metrics import accuracy_score, precision_score, recall_score,f1_score,r2_score, mean_squared_error
from scipy.stats import ttest_1samp, ttest_rel, ttest_ind, f_oneway,wilcoxon, ranksums,kruskal,shapiro,bartlett, levene, chisquare,chi2_contingency

> 문제1) 다음은 A,B,C 그룹 인원 성적 데이터이다.
세 그룹의 성적 평균이 같다고 할 수 있는지 ANOVA 분석을 실시하시오.    
(유의수준 5%)

    * A,B,C : 각 그룹 인원의 성적
    * 귀무가설(H0) : 세그룹의 성적 평균이 같다  
    * 대립가설(H1) : 세 그룹의 성적 평균이 같지 않다

In [5]:
# 데이터 만들기
df = pd.DataFrame( {
    'A': [120, 135, 122, 124, 135, 122, 145, 160, 155, 142, 144, 135, 167],
    'B' : [110, 132, 123, 119, 123, 115, 140, 162, 142, 138, 135, 142, 160],
    'C' : [130, 120, 115, 122, 133, 144, 122, 120, 110, 134, 125, 122, 122]})

df.head()

     A    B    C
0  120  110  130
1  135  132  120
2  122  123  115
3  124  119  122
4  135  123  133

In [6]:
# 모집단 3개 이상 (ANOVA) -> f_oneway / kruskal
# 정규성 검정 shapiro
# 등분산성 검정 bartlett/levene

# 정규성 검정
a_s , a_p = shapiro(df['A'])
b_s , b_p = shapiro(df['B'])
c_s , c_p = shapiro(df['C'])

if (a_p>0.05)&(b_p>0.05)&(c_p>0.05) :
    print('세그룹 모두 정규성을 만족한다')
else :
    print('세그룹중 하나라도 정규성을 만족하지 않는다')

세그룹 모두 정규성을 만족한다

In [ ]:
# 등분산성 검정
eq_s, eq_p = bartlett(df['A'],df['B'],df['C'])

print(eq_p)
# 등분산성 만족

0.12110174433684852

In [8]:
statistic, pvalue = f_oneway(df['A'],df['B'],df['C'])
if pvalue>0.05 : 
    print('A,B,C 그룹 성적 평균이 같다')
else :
    print('A,B,C 그룹 성적 평균이 같지 않다')

A,B,C 그룹 성적 평균이 같지 않다

In [9]:
# 만약 정규성을 따르지 않는다면 -> kruskal
x_s, x_p = kruskal(df['A'],df['B'],df['C'])

if x_p >0.05 : 
    print('A,B,C 그룹 성적 평균이 같다')
else :
    print('A,B,C 그룹 성적 평균이 같지 않다')

A,B,C 그룹 성적 평균이 같지 않다

> 문제2 ) 문제 1과 동일한 문제이지만 데이터 형태가 다를때

In [10]:
df2 = pd.DataFrame( {
    '항목': ['A','A','A','A','A','A','A','A','A','A','A','A','A',
           'B','B','B','B','B','B','B','B','B','B','B','B','B',
           'C','C','C','C','C','C','C','C','C','C','C','C','C',],
    'value': [120, 135, 122, 124, 135, 122, 145, 160, 155, 142, 144, 135, 167,
             110, 132, 123, 119, 123, 115, 140, 162, 142, 138, 135, 142, 160,
             130, 120, 115, 122, 133, 144, 122, 120, 110, 134, 125, 122, 122]
    })

df2.head()

  항목  value
0  A    120
1  A    135
2  A    122
3  A    124
4  A    135

- 항목에 따라 데이터를 만들어서 진행해야한다

In [13]:
df_a = df2[df2['항목']=='A']['value']
df_b = df2[df2['항목']=='B']['value']
df_c = df2[df2['항목']=='C']['value']

df_a.head()

0    120
1    135
2    122
3    124
4    135
Name: value, dtype: int64

In [15]:
# 정규성 확인 
a_s, a_p = shapiro(df_a)
b_s, b_p = shapiro(df_b)
c_s, c_p = shapiro(df_c)

if (a_p>0.05)&(b_p>0.05)&(c_p>0.05) :
    print('세그룹 모두 정규성을 만족한다')
else :
    print('세그룹중 하나라도 정규성을 만족하지 않는다')

print(a_p, b_p,c_p)

세그룹 모두 정규성을 만족한다
0.35584837198257446 0.5955665707588196 0.452654629945755

In [16]:
# 등분산성 확인 
eq_s, eq_p = bartlett(df_a,df_b,df_c)
print(eq_p)

0.12110174433684852

In [17]:
# 정규성, 등분산성 만족 -> f_oneway
statistic, pvalue = f_oneway(df_a,df_b,df_c)
print(pvalue)
if pvalue > 0.05 :
    print('A,B,C 그룹 성적 평균이 같다')
else :
    print('A,B,C 그룹 성적 평균이 같지 않다')

0.0346491232068625
A,B,C 그룹 성적 평균이 같지 않다