In [2]:
import pandas as pd 
import numpy as np 
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor , RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score,recall_score, roc_auc_score, f1_score
from sklearn.metrics import mean_squared_error, r2_score

from scipy.stats import ttest_1samp, ttest_rel, ttest_ind, shapiro, levene, bartlett, f_oneway, wilcoxon, mannwhitneyu,pearsonr,chisquare, chi2_contingency

In [4]:
df = pd.read_csv('../mtcars.csv',encoding='cp949')
df.rename(columns = {'Unnamed: 0' : 'car'}, inplace=True)
df.head(3)

,car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1

> 예제 문제 1) mtcars 데이터셋의 mpg열 데이터의 평균이 20과 같다고 할 수 있는지 검정하시오. (유의수준 5%)

- 1. 귀무가설 설정
- 2. 대립가설 설정 
- 3. 모집단 몇개인지 파악, 어떤 함수 사용할지 파악
- 4. 정규성 검정 / 등분산성 검정 
- 5. 검정

    * H0 : mpg 데이터 평균이 20과 같다. (모평균 =20)
    * H1 : mpg 데이터 평균이 20과 같지 않다 (모평균 <> 20)

모집단 1개 : 집단의 평균 vs 특정값 
>> 정규성 만족시 : ttset_1samp    
>> 정규성 만족안할시 : wilcoxon

In [6]:
# 정규성 검정 
n_s, n_pvalue = shapiro(df['mpg'])

if n_pvalue >0.05 : 
    print('정규성을 만족한다')
else : 
    print('정규성을 따르지 않는다 ')

정규성을 만족한다

In [8]:
t, p_value = ttest_1samp(df['mpg'],popmean=20, alternative='two-sided')

if p_value >0.05:
    print('귀무가설 채택')
else : 
    print('대립가설 채택')

귀무가설 채택

In [9]:
# 실제 평균값
df['mpg'].mean()

20.090624999999996

만약 정규성을 만족 하지 않는다면? > wilcoson 비모수 검정 사용

In [10]:
s, pvalue = wilcoxon(df['mpg']-20)
print(pvalue)

0.7790732036774985

> 문제 2) mtcars 데이터셋의 mpg 열 데이터의 평균이 17보다 크다고 할 수 있는지 검정하시오 (유의수준 5%)

    * H0: mpg 데이터의 평균이 17보다 작다 (모평균 <= 17 )    
    * H1: mpg 데이터의 평균이 17보다 크다 (모평균 >17)

In [ ]:
n_s, n_p = shapiro(df['mpg'])
if n_p > 0.05 : 
    print('정규성을 만족한다')
else : 
    print('정규성을 따르지 않는다')

정규성을 만족한다

In [14]:
n_s, pvalue = ttest_1samp(df['mpg'],popmean=17,alternative='greater')
if pvalue >0.05 :
    print('평균이 17보다 작거나 같다')
else : 
    print('평균이 17보다 크다 ')

평균이 17보다 크다

In [15]:
# 정규성을 만족하지 않는경우
s, pvalue = wilcoxon(df['mpg']-17, alternative='greater')
if pvalue >0.05 :
    print('평균이 17보다 작거나 같다')
else : 
    print('평균이 17보다 크다 ')

평균이 17보다 크다

> 예상 문제 3) mtcars 데이터셋의 mpg열 데이터의 평균이 17보다 작다고 할 수있는지 검정하시오 (유의수준 5%)

    * H0: mpg 데이터 평균이 17 보다 크거나 같다 (모평균 >=17)
    * H1: mpg 데이터 평균이 17보다 작다 (모평균 <17)

In [16]:
n_s, n_p = shapiro(df['mpg'])
if n_p >0.05 : 
    print('정규성을 만족한다')
else : 
    print('정규성을 만족하지 않는다')

정규성을 만족한다

In [17]:
s, p = ttest_1samp(df['mpg'],popmean=17,alternative='less')
if p >0.05 :
    print('mpg 평균값은 17보다 크거나 같다')
else :
    print('mpg 평균값은 17보다 작다')

mpg 평균값은 17보다 크거나 같다

In [18]:
n, p = wilcoxon(df['mpg']-17, alternative='less')
if p >0.05 :
    print('mpg 평균값은 17보다 크거나 같다')
else :
    print('mpg 평균값은 17보다 작다')

mpg 평균값은 17보다 크거나 같다