> 문제 1 ) 와인 종류 분류하기

In [76]:
#  필요한 패키지 설치 
import pandas as pd 
import numpy as numpy
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from sklearn.metrics import accuracy_score,f1_score, precision_score, recall_score, roc_auc_score, mean_squared_error,r2_score

In [77]:
from sklearn.datasets import load_wine
wine = load_wine()
x= pd.DataFrame(wine.data, columns=wine.feature_names)
y = pd.DataFrame(wine.target)

In [78]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=2024)
x_train = pd.DataFrame(x_train)
x_test = pd.DataFrame(x_test)
y_train = pd.DataFrame(y_train)
x_test.reset_index()
y_train.columns=['target']

1. 데이터 탐색
2. 데이터 전처리및 분리
3. 모델링 및 성능평가
4. 예측값 제출

In [79]:
x_train.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
149,13.08,3.90,2.36,21.5,113.0,1.41,1.39,0.34,1.14,9.40,0.57,1.33,550.0
83,13.05,3.86,2.32,22.5,85.0,1.65,1.59,0.61,1.62,4.80,0.84,2.01,515.0
17,13.83,1.57,2.62,20.0,115.0,2.95,3.40,0.40,1.72,6.60,1.13,2.57,1130.0
44,13.05,1.77,2.10,17.0,107.0,3.00,3.00,0.28,2.03,5.04,0.88,3.35,885.0
169,13.40,4.60,2.86,25.0,112.0,1.98,0.96,0.27,1.11,8.50,0.67,1.92,630.0

In [80]:
x_test.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
172,14.16,2.51,2.48,20.0,91.0,1.68,0.70,0.44,1.24,9.70,0.62,1.71,660.0
46,14.38,3.59,2.28,16.0,102.0,3.25,3.17,0.27,2.19,4.90,1.04,3.44,1065.0
142,13.52,3.17,2.72,23.5,97.0,1.55,0.52,0.50,0.55,4.35,0.89,2.06,520.0
55,13.56,1.73,2.46,20.5,116.0,2.96,2.78,0.20,2.45,6.25,0.98,3.03,1120.0
40,13.56,1.71,2.31,16.2,117.0,3.15,3.29,0.34,2.34,6.13,0.95,3.38,795.0

In [81]:
# 결측치 확인 
print(x_train.isnull().sum())
print(x_test.isnull().sum())

alcohol                         0
malic_acid                      0
ash                             0
alcalinity_of_ash               0
magnesium                       0
total_phenols                   0
flavanoids                      0
nonflavanoid_phenols            0
proanthocyanins                 0
color_intensity                 0
hue                             0
od280/od315_of_diluted_wines    0
proline                         0
dtype: int64
alcohol                         0
malic_acid                      0
ash                             0
alcalinity_of_ash               0
magnesium                       0
total_phenols                   0
flavanoids                      0
nonflavanoid_phenols            0
proanthocyanins                 0
color_intensity                 0
hue                             0
od280/od315_of_diluted_wines    0
proline                         0
dtype: int64

In [82]:
x_train.describe()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
count,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000
mean,13.014789,2.377113,2.359930,19.447887,100.147887,2.337746,2.104789,0.350915,1.626690,5.116268,0.956901,2.640563,750.922535
std,0.827861,1.130355,0.282352,3.525283,14.520197,0.628792,1.001830,0.123489,0.572239,2.348108,0.235436,0.714960,327.358850
min,11.030000,0.890000,1.360000,10.600000,78.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,290.000000
25%,12.370000,1.630000,2.212500,17.025000,88.000000,1.800000,1.257500,0.260000,1.250000,3.250000,0.780000,2.002500,495.000000
50%,13.050000,1.885000,2.360000,19.050000,98.000000,2.450000,2.245000,0.320000,1.620000,4.850000,0.965000,2.820000,666.000000
75%,13.727500,3.157500,2.540000,21.500000,107.000000,2.800000,2.915000,0.430000,1.957500,6.275000,1.120000,3.187500,1008.750000
max,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000

In [83]:
x_test.describe()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
count,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000
mean,12.944722,2.175556,2.392500,19.680556,98.138889,2.126944,1.731389,0.405000,1.449722,4.828611,0.959611,2.497778,731.000000
std,0.753622,1.063362,0.242043,2.508138,13.376211,0.592919,0.942268,0.120392,0.558398,2.213478,0.202238,0.687917,263.547881
min,11.410000,0.740000,1.940000,14.800000,70.000000,1.100000,0.480000,0.200000,0.420000,1.740000,0.570000,1.420000,278.000000
25%,12.320000,1.500000,2.207500,18.250000,88.000000,1.642500,0.690000,0.297500,1.057500,3.147500,0.840000,1.820000,567.500000
50%,12.930000,1.785000,2.380000,20.000000,97.500000,2.000000,1.770000,0.395000,1.435000,4.425000,0.970000,2.595000,687.500000
75%,13.512500,2.847500,2.610000,21.000000,105.000000,2.492500,2.550000,0.505000,1.637500,5.807500,1.077500,3.052500,851.250000
max,14.380000,5.650000,2.920000,24.000000,136.000000,3.250000,3.290000,0.630000,2.760000,10.680000,1.380000,3.820000,1310.000000

In [84]:
x_train,x_val, y_train, y_val = train_test_split(x_train, y_train['target'], test_size=0.2 ,stratify=y_train['target'], random_state=2024)

In [85]:
# 분류 모델 -> RandomForestClassifier
model = RandomForestClassifier()
model.fit(x_train,y_train)

RandomForestClassifier()

In [86]:
# 모델 사용하여 테스트 데이터 예측
y_pred = model.predict(x_val)

In [88]:
acc = accuracy_score(y_val,y_pred)
f1 = f1_score(y_val,y_pred,average='macro')

print(acc)
print(f1)

1.0
1.0