In [2]:
import pandas as pd 
import numpy as np
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [3]:
# 데이터 생성
df = pd.DataFrame({
    '날짜' : ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] 
})

> 문제 21) 문제 21. 22년 1분기 A제품의 매출액을 구하시오
- 매출액 = 판매수*개당수익

In [5]:
df['날짜']= pd.to_datetime(df['날짜'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      12 non-null     datetime64[ns]
 1   제품      12 non-null     object
 2   판매수     12 non-null     int64
 3   개당수익    12 non-null     int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 512.0+ bytes

## 참고 - between 공부

In [15]:
df_1 = df[(df['날짜']<='20220430')&(df['날짜']>='20220101')]
df_1['매출액'] = df_1['판매수'] * df_1['개당수익']
df_1[df_1['제품']=='A'].매출액.sum()

C:\Users\chohyeri\AppData\Local\Temp\ipykernel_10096\1003508068.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['매출액'] = df_1['판매수'] * df_1['개당수익']

4900

> 문제 22) 22년과 23년의 총 매출액 차이를 절대값으로 구하시오

In [20]:
df['year'] = df['날짜'].dt.year
df['month'] = df['날짜'].dt.month
df['day'] = df['날짜'].dt.day

df['매출액'] = df['판매수'] * df['개당수익']
sum_22 = df[df['year']==2022]['매출액'].sum()
sum_23 = df[df['year']==2023]['매출액'].sum()

abs(sum_22-sum_23)

48600

> 문제 23) 23년 총 매출액이 큰 제품의 23년 판매수를 구하시오

In [27]:
df23 = df.copy()
df23 = df23[df23['year']==2023]
df23.groupby('제품').매출액.sum()
df23.groupby('제품').판매수.sum()

제품
A    80
B    50
Name: 판매수, dtype: int64

> 문제 24) 매출액이 4천원 초과, 1만원 미만인 데이터 수를 출력 하시오

In [28]:
len(df[(df['매출액']>4000)&(df['매출액']<10000)])

4

> 문제 25) 23년 9월 24일 16:00~22:00 사이에 전체 제품의 판매수를 구하시오.

In [34]:
df = pd.DataFrame( {
    '물품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
    '판매수': [5, 10, 15, 15, 20, 25, 40],
    '개당수익': [500, 600, 500, 600, 600, 700, 600] })
time = pd.date_range('2023-09-24 12:25:00','2023-09-25 14:45:30', periods= 7)
df['time']=time
df = df[ ['time','물품','판매수','개당수익']]

print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    7 non-null      datetime64[ns]
 1   물품      7 non-null      object
 2   판매수     7 non-null      int64
 3   개당수익    7 non-null      int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 352.0+ bytes
None

                 time 물품  판매수  개당수익
0 2023-09-24 12:25:00  A    5   500
1 2023-09-24 16:48:25  B   10   600
2 2023-09-24 21:11:50  A   15   500
3 2023-09-25 01:35:15  B   15   600
4 2023-09-25 05:58:40  A   20   600

In [40]:
df['매출액']= df['판매수']*df['개당수익']

In [35]:
df['time'] = pd.to_datetime(df['time'])

In [36]:
cond1 = df['time']>='2023-09-24 16:00'
cond2 = df['time']<='2023-09-24 22:00'
df[cond1&cond2]['판매수'].sum()

25

> 문제 26) : 9월 25일 00:00 ~ 12:00 까지의 B물품의 매출액 총합을 구하시오

In [42]:
cond1 = df['time'] >= '2023-09-25 00:00'
cond2 = df['time'] <= '2023-09-25 12:00'
cond3 = df['물품'] == 'B'
df[cond1&cond2&cond3]['매출액'].sum()

26500

> 문제 27) 9월 24일 12:00 ~ 24:00 까지의 A 물품의 매출액 총합을 구하시오

In [44]:
cond1 = df['time'] >= '2023-09-24 12:00'
cond2 = df['time'] <= '2023-09-25 00:00'
cond3 = df['물품'] == 'A'
df[cond1&cond2&cond3]['매출액'].sum()

10000