## 문제풀이 21 - 27

In [34]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler,StandardScaler

- 문제 21. 22년 1분기 A제품의 매출액을 구하시오
- 매출액 = 판매수*개당수익

In [35]:
# 데이터 생성
df = pd.DataFrame({
    '날짜' : ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] 
})

In [36]:
df21 = df.copy()
df21['매출액'] = df21['판매수']*df21['개당수익']
df21['날짜'] = pd.to_datetime(df21['날짜'])
df21['year'] = df21['날짜'].dt.year
df21['month'] = df21['날짜'].dt.month
df21['day'] = df21['날짜'].dt.day

# 22년 1분기 제품 A
df21[(df21['year']==2022)&(df21['month'] < 4)&(df21['제품']=='A')]['매출액'].sum()

4900

In [37]:
# 다른풀이
df21_1 = df.copy()

df21_1['날짜'] = pd.to_datetime(df21_1['날짜'])

df21_1['매출액'] = df21_1['판매수']*df21_1['개당수익']

df_after = df21_1[df21_1['날짜'].between('2022-01-01', '2022-04-01')] # 4월 1일 미포함
print(df_after['매출액'][df21_1['제품']=='A'].sum())

4900

In [38]:
# 다른풀이 2 
df21_2 = df.copy()
df21_2['날짜'] = pd.to_datetime(df21_2['날짜'])
df21_2['매출액'] = df21_2['판매수']*df21_2['개당수익']
df21_2 = df21_2.set_index('날짜')
df_alter = df21_2.loc[(df21_2.index<='2022-03-31')&(df21_2.index>='2022-01-01')]
print(df_alter['매출액'][df21_2['제품']=='A'].sum())

4900

- 문제 22 22년과 23년의 총 매출액 차이를 절대값으로 구하시오
- 매출액 = 판매수 * 개당수익

In [39]:

df22 = df.copy()
df22['매출액'] = df22['판매수']*df22['개당수익']
df22['날짜'] = pd.to_datetime(df22['날짜'])
df22['year'] = df22['날짜'].dt.year
df22['month'] = df22['날짜'].dt.month
df22['day'] = df22['날짜'].dt.day
cond1 = (df22['year'] == 2022)
cond2 = (df22['year'] == 2023)
total_22 = df22[cond1]['매출액'].sum()
total_23 = df22[cond2]['매출액'].sum()
print(abs(total_23-total_22))

48600

- 문제 23 : 23년 총 매출액이 큰 제품의 23년 판매수를 구하시오
 - 매출액 = 판매수 * 개당수익

In [44]:
df23 = df.copy()
df23['매출액'] = df23['판매수']*df23['개당수익']
df23['날짜'] = pd.to_datetime(df23['날짜'])
df23['year'] = df23['날짜'].dt.year
df23_g = df23[df23['year']==2023].groupby(['제품']).sum()
df23_g[df23_g['매출액'] == df23_g['매출액'].max()]['판매수'].iloc[0]

80

In [41]:
# 다른풀이 
df23_1 = df.copy()
df23_1['매출액'] = df23_1['판매수']*df23_1['개당수익']
df23_1['날짜'] = pd.to_datetime(df23_1['날짜'])
df23_1['year'] = df23_1['날짜'].dt.year

cond_2023 = (df23_1['year'] ==2023)
cond_a = (df23_1['제품']=='A')
cond_b = (df23_1['제품']=='B')

total_a = df23_1['매출액'][cond_2023&cond_a].sum()
total_b = df23_1['매출액'][cond_2023&cond_b].sum()

if total_a > total_b : 
    print(df['제품'][cond_2023&cond_a].iloc[0], df23['판매수'][cond_2023&cond_a].sum())
else : 
    print(df['제품'][cond_2023&cond_b].iloc[0], df23['판매수'][cond_2023&cond_b].sum())

A 80

- 문제24 매출액이 4천원 초과, 1만원 미만인 데이터 수를 출력 하시오
- 매출액 = 판매수 * 개당수익

In [52]:
df24 = df.copy()
df24['매출액'] = df24['판매수']*df24['개당수익']
len(df24[(df24['매출액']>4000)&(df24['매출액']<10000)])

4

In [53]:
df = pd.DataFrame( {
    '물품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
    '판매수': [5, 10, 15, 15, 20, 25, 40],
    '개당수익': [500, 600, 500, 600, 600, 700, 600] })
time = pd.date_range('2023-09-24 12:25:00','2023-09-25 14:45:30', periods= 7)
df['time']=time
df = df[ ['time','물품','판매수','개당수익']]

print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    7 non-null      datetime64[ns]
 1   물품      7 non-null      object
 2   판매수     7 non-null      int64
 3   개당수익    7 non-null      int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 352.0+ bytes
None

                 time 물품  판매수  개당수익
0 2023-09-24 12:25:00  A    5   500
1 2023-09-24 16:48:25  B   10   600
2 2023-09-24 21:11:50  A   15   500
3 2023-09-25 01:35:15  B   15   600
4 2023-09-25 05:58:40  A   20   600

- 문제25 : 23년 9월 24일 16:00~22:00 사이에 전체 제품의 판매수를 구하시오.

In [56]:
df25 = df.copy()
df25['time'] = pd.to_datetime(df25['time'])
df['time']

                 time 물품  판매수  개당수익  year
0 2023-09-24 12:25:00  A    5   500  2023
1 2023-09-24 16:48:25  B   10   600  2023
2 2023-09-24 21:11:50  A   15   500  2023
3 2023-09-25 01:35:15  B   15   600  2023
4 2023-09-25 05:58:40  A   20   600  2023