## 문제풀이 21 - 27

In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler,StandardScaler

- 문제 21. 22년 1분기 A제품의 매출액을 구하시오
- 매출액 = 판매수*개당수익

In [4]:
# 데이터 생성
df = pd.DataFrame({
    '날짜' : ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] 
})

          날짜 제품  판매수  개당수익
0   20220103  A    3   300
1   20220105  B    5   400
2   20230105  A    5   500
3   20230127  B   10   600
4   20220203  A   10   400
5   20220205  B   10   500
6   20230210  A   15   500
7   20230223  B   15   600
8   20230312  A   20   600
9   20230422  B   25   700
10  20220505  A   30   600
11  20230511  A   40   600

In [17]:
df21 = df.copy()
df21['매출액'] = df21['판매수']*df21['개당수익']
df21['날짜'] = pd.to_datetime(df21['날짜'])
df21['year'] = df21['날짜'].dt.year
df21['month'] = df21['날짜'].dt.month
df21['day'] = df21['날짜'].dt.day

# 22년 1분기 제품 A
df21[(df21['year']==2022)&(df21['month'] < 4)&(df21['제품']=='A')]['매출액'].sum()

4900

In [18]:
# 다른풀이
df21_1 = df.copy()

df21_1['날짜'] = pd.to_datetime(df21_1['날짜'])

df21_1['매출액'] = df21_1['판매수']*df21_1['개당수익']

df_after = df21_1[df21_1['날짜'].between('2022-01-01', '2022-04-01')] # 4월 1일 미포함
print(df_after['매출액'][df21_1['제품']=='A'].sum())

4900

In [22]:
# 다른풀이 2 
df21_2 = df.copy()
df21_2['날짜'] = pd.to_datetime(df21_2['날짜'])
df21_2['매출액'] = df21_2['판매수']*df21_2['개당수익']
df21_2 = df21_2.set_index('날짜')
df_alter = df21_2.loc[(df21_2.index<='2022-03-31')&(df21_2.index>='2022-01-01')]
print(df_alter['매출액'][df21_2['제품']=='A'].sum())

4900

- 문제 22 22년과 23년의 총 매출액 차이를 절대값으로 구하시오
- 매출액 = 판매수 * 개당수익

In [26]:

df22 = df.copy()
df22['매출액'] = df22['판매수']*df22['개당수익']
df22['날짜'] = pd.to_datetime(df22['날짜'])
df22['year'] = df22['날짜'].dt.year
df22['month'] = df22['날짜'].dt.month
df22['day'] = df22['날짜'].dt.day
cond1 = (df22['year'] == 2022)
cond2 = (df22['year'] == 2023)
total_22 = df22[cond1]['매출액'].sum()
total_23 = df22[cond2]['매출액'].sum()
print(abs(total_23-total_22))

48600

- 문제 23 : 23년 총 매출액이 큰 제품의 23년 판매수를 구하시오
 - 매출액 = 판매수 * 개당수익