## 문제 풀이 1-10

In [1]:
# 데이터 불러오기
import pandas as pd 
import numpy as numpy
from sklearn.preprocessing import MinMaxScaler, StandardScaler

df=pd.read_csv('mtcars.csv')

- 문제 1. mpg 변수의 제 1사분위수를 구하고 정수값으로 출력하시오

In [7]:
# 내 풀이 
Q1 = int(df['mpg'].quantile(0.25))
print(Q1)

15

In [9]:
# 답 
Q1 = df['mpg'].quantile(0.25)
print(round(Q1))

15

- 문제 2. mpg 값이 19 이상 21 이하인 데이터의 수를 구하시오.

In [11]:
# 내 풀이
len(df[(df['mpg']>=19)&(df['mpg']<=21)])

5

In [12]:
# 답
cond1 = df['mpg']>=19
cond2 = df['mpg']<=21

print(len(df[cond1&cond2]))

5

- 문제 3. hp 변수의 IQR 값을 구하시오

In [13]:
# 내 풀이
Q3 = df['hp'].quantile(0.75)
Q1 = df['hp'].quantile(0.25)
IQR = Q3-Q1

print(IQR)

83.5

In [14]:
# 답
Q3 = df['hp'].quantile(0.75)
Q1 = df['hp'].quantile(0.25)
IQR = Q1-Q3

print(abs(IQR))

83.5

- 문제 4. wt 변수의 상위 10개 값의 총합을 구하여 소수점을 버리고 정수로 출력하시오.

In [20]:
# 내 풀이
sum_wt = ((df['wt'].sort_values(ascending=False)).head(10)).sum()
print(round(sum_wt))
print(int(sum_wt))

42
42

In [21]:
# 답 
df3 = df.copy()
sum_wt =sum(df3['wt'].sort_values(ascending=False)[:10])
print(round(sum_wt))

42

- 문제 5. 전체 자동차에서 cyl가 6인 비율이 얼마인지 소수점 첫째 자리까지 출력하시오.

In [41]:
# 내 풀이
df4 = df.copy()
print(round(len(df4[df4['cyl']== 6])/len(df4['cyl']),1))

0.2

In [34]:
# 답 
df4 = df.copy()

total_cyl = len(df4['cyl'])

cond1 = (df4['cyl'] == 6)
cyl_6 = len(df4[cond1])

ratio_cyl = cyl_6/total_cyl

print(round(ratio_cyl, 1))

0.2

- 문제 6. 첫번째 행부터 순서대로 10개 뽑은 후 mpg 열의 평균값을 반올림하여 정수로 출력하시오.

In [44]:
# 내 풀이
df5 = df.head(10)
print(round(df5['mpg'].mean()))

20

In [45]:
# 답
avg_df5 = df5['mpg'][:10].mean()

print(round(avg_df5))

20

- 문제 7. 첫번째 행부터 순서대로 50%까지 데이터를 뽑아 wt 변수의 중앙값을 구하시오.

In [49]:
# 내 풀이 
df_6 = df.copy()
df_half = df_6.head(int((len(df_6))/2))
wt_median = df_half['wt'].median()
print(wt_median)

3.44

In [50]:
df_6 = df.copy()
df_50per = df_6[:int(len(df_6)/2)]
wt_median = df_50per['wt'].median()
print(wt_median)

3.44

- ★ 문제 8. 결측값이 있는 데이터의 수를 출력하시오.

In [57]:
# 답 
new_df = pd.DataFrame({
  "날짜": ['20220103', '20220105', None, '20230127', '20220203', '20220205', '20230223', '20230325', '20230427', '20230526', '20230603', '20230723'],
  '제품': ['A', 'B', None, 'B', 'A', None, 'A', 'B', 'A', 'B', 'A', 'A'],
  '판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40],
  '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]
})

# print(sum(new_df.isnull().sum()))
new_df.isnull().sum()

날짜      1
제품      2
판매수     2
개당수익    0
dtype: int64

- 문제 9. '판매수' 컬럼의 결측값을 판매수의 중앙값으로 대체하고 판매수의 평균값을 정수로 출력하시오

In [68]:
# 내 풀이 
new_df_2 = new_df.copy()
new_df_2['판매수'] = new_df_2['판매수'].fillna(new_df_2['판매수'].median())
print(round(new_df_2['판매수'].mean()))

15

In [69]:
# 답 
new_df_2 = new_df.copy()
new_df_2_median = new_df_2['판매수'].median()
new_df_2_Q2 = new_df_2['판매수'].quantile(0.5)
new_df_2['판매수'] = new_df_2['판매수'].fillna(new_df_2_median)
print(round(new_df_2['판매수'].mean()))

15

- 문제 10.
판매수 컬럼에 결측치가 있는 행을 제거하고,   
첫번째 행부터 순서대로 50%까지 데이터를 추출하여   
판매수 변수의 Q1(제1사분위수) 값을 정수로 출력하시오.

In [70]:
new_df_3 = new_df.copy()
sale_df = new_df_3['판매수'].dropna()
sale_50_per = sale_df[: int(len(sale_df)/2)]
Q1 = sale_50_per.quantile(0.25)
print(round(Q1))

5